@import "compass";

$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
// endbower

@import "flatly/variables";
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
//@import "flatly/flatly";

@import "jcrop/jcrop";
@import "animations";

html,body{
  height:100%;
}
.splash-banner{
  margin-top:0px;
  background-image:url('../images/splash-header.jpg');
  background-size:cover;
  background-position:bottom center;
  min-height:400px;
  .title{
    h1 {
      font-family:reisregular;
      font-size: 74px;
      /* WebKit (Safari/Chrome) Only */
      //-webkit-text-stroke: 1px black;
      
      /* If we weren't using text-shadow, we'd set a fallback color
         and use this to set color instead
      //-webkit-text-fill-color: white; */
      
      color: white;
      
      text-shadow:
        3px 3px 0 #000,
        /* Simulated effect for Firefox and Opera
           and nice enhancement for WebKit */
       -1px -1px 0 #000,  
        1px -1px 0 #000,
       -1px  1px 0 #000,
        1px  1px 0 #000;
    }
  }
}
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -200px;
  /* Pad bottom by footer height */
  padding: 0 0 200px;
  >.container{
    box-shadow: 4px 0px 5px rgba(0, 0, 0, 0.2), -4px 0px 5px rgba(0, 0, 0, 0.2);
  }
}
.with-navbar{
  margin-top:-21px;
}
.dark-blue{
  background-color:#2C3E50;
}
.image-column{
  position:relative;
  >div.image{
    margin:0px -15px;
    border:4px solid black;
  }
}
.orange{
  background-color:#FFCC66
}
.white{
  background-color:#ffffff;
}
.center{
text-align:center;  
}
.center-img{
  display: block;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 600px) {
.row-md-height{
  margin-left:0px;
  margin-right:0px;
}
.row-md-height>div{
  min-height:240px;
}
.background-container{
  height:inherit;
}
}
/*******Modal Section***********/
.expanded-width .modal-dialog {
  width: 650px;
}
table.scrollable {
  width: 100%;
  thead, tbody, tr, td, th { display: block; }
  tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
  }
  thead th {
    height: 30px;
    /*text-align: left;*/
  }
  tbody {
    max-height: 220px;
    overflow-y: auto;
  }
  thead {
    /* fallback */
  }
  tbody td, thead th {
    width: 25%;
    float: left;
  }
}

/********** Footer Section ***********/
div.footer-bottom{
  min-height:200px;
  background: #2C3E50;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2) inset, 0px -4px 5px rgba(0, 0, 0, 0.2) inset;
  padding:17px;
  color:#FFF
}
div.footer h1{
  font-family:"Verdana", Geneva, sans-serif;
  font-weight:bolder;
}
.inline-list li{
  display:inline-block;
  margin-right:40px;
}
.footer-list ul{
  list-style:none
}
.list-item{
  text-transform:uppercase;
  font-size:18px;
  text-decoration:none;
  color:inherit;
}
.list-item-header{
  text-transform:uppercase;
}
/************End Footer **********/

/*****Login Modal *****/
.ribbon{
  background-color:#2F4D6B;
  color:white;
  position:relative;
  padding:2px 30px;
  margin: 2px -25px 5px -25px;
}
.ribbon:before,
.ribbon:after {
  content:" ";
  border-top:10px solid #2C3E50;
  position:absolute;
  bottom:-10px;
} 
.ribbon:before {
  border-left:10px solid transparent;
  left:0;
  }
.ribbon:after {
  border-right:10px solid transparent;
  right:0;
}
/*****CardSelectModal******/
.card-select{
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
}
/****** ComboBox ******/
.form-search .combobox-container,
.form-inline .combobox-container {
display: inline-block;
margin-bottom: 0;
vertical-align: top;
}
.form-search .combobox-container .input-group-addon,
.form-inline .combobox-container .input-group-addon {
width: auto;
}
.combobox-selected .caret {
display: none;
}
.combobox:disabled{
  background:#EBEBE4;
}
/* :not doesn't work in IE8 */
.combobox-container:not(.combobox-selected) .glyphicon-remove {
display: none;
}
.suggestions-dropdown{
  cursor:pointer;
  li:hover{
    background-color: #f0f0f0;
  }
  li.selected{
    background-color: #f0f0f0;
  }
}
.typeahead{
  display:block;
}
.typeahead-long {
max-height: 200px;
overflow-y: auto;
}
.control-group.error .combobox-container .add-on {
color: #B94A48;
border-color: #B94A48;
}
.control-group.error .combobox-container .caret {
border-top-color: #B94A48;
}
.control-group.warning .combobox-container .add-on {
color: #C09853;
border-color: #C09853;
}
.control-group.warning .combobox-container .caret {
border-top-color: #C09853;
}
.control-group.success .combobox-container .add-on {
color: #468847;
border-color: #468847;
}
.control-group.success .combobox-container .caret {
border-top-color: #468847;
}
/******Image Upload Button *******/
.imageUpload-button {
  position: relative;
  overflow: hidden;
}
.imageUpload-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
}

/* Fixes for IE < 8 */
@media screen\9 {
  .fileinput-button input {
    filter: alpha(opacity=0);
    font-size: 100%;
    height: 100%;
  }
}
/*********Flip Transition********/
.card-wrapper>div{
  z-index:20;
  position:relative;
  border: 1px rgba(0,0,0,.4) solid;
  background-color: white;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  padding: 10px;
  -webkit-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
  .canvas{
    position:absolute;
  }
  .front{
    z-index:40;
  }
}
.back-edit-form{
  position: absolute;
  top: 10px;
  left: 10px;
}
div.editor-front{
  color:white;
  font-family:'big_johnregular';
  display:inline-block;
  line-height:1;
  font-size:22px;
  padding:0px;
  margin:0px;
  width: 728px;
  height: 475px;
  overflow:hidden;
  word-wrap:break-word;
}
div.editor-front>*{
  text-transform:uppercase;
  padding:0.5rem;
  display: inline;
}
div.editor-back{
  color: black;
  font-family:Helvetica;
  display:inline-block;
  line-height:2;
  font-size:16px;
  padding:0px;
  margin:0px;
  width: 340px;
  height: 420px;
  overflow:hidden;
  word-wrap:break-word;
}
.editor-back>p{
  margin:0;
  padding:0;
}

/***** Flip ***************************************************************************************/
.flip-horizontal.ng-hide{
  animation: flipOutX 0.5s;
  position:absolute;
  left:0px;
  top:0px;
}
.flip-horizontal{
  animation: flipInX 0.5s;
  position:absolute;
  left:0px;
  top:0px;
}





/*********************************************
.inline-row{
  >*{
    display:inline-block;
  }
}
.loading-bunny{
  z-index: 1060;
  position: fixed;
  left: 50%;
  top: 50%;
  color:white;
  font-size:1em;
}
.loading-bunny>div{
  padding:10px;
  border-radius:10px;
  background:rgba(0,0,0,0.2);
  position:relative;
  left:-50%;
  top: -50%;
}
.bentley-profile{
  &.hidden{
    display:none;
  }
  p{
    font-weight:bold;
  }
  position:fixed;
  right: 20px;
  bottom: 20px;
  border: 2px solid #f5f5f5;
  border-radius: 50%;
  box-shadow: 0 0 3px gray;
  box-sizing: content-box;
  height: 100px;
  width: 100px;
  z-index:900;
  margin: 0 auto;
  >img{
    width: 100px;
    height: 100px;
  }
}

.bentley-close{
  position:absolute;
  top:-20px;
  right:0px;
  >button{
    background-color:#ECE0D9;
    display: inline-block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }
  >button:hover{
    background-color:#DBC4B8;
  }
}


.speech-bubble.right:before {
    border-color: transparent #5a8f00;
    border-width: 15px 0 15px 30px;
    top: auto;
    left: auto;
    right: -30px;
    bottom: 10px;
}
.speech-bubble:before {
    border-color: #5a8f00 transparent;
    border-style: solid;
    border-width: 20px 20px 0;
    bottom: -20px;
    content: "";
    display: block;
    left: 40px;
    position: absolute;
    width: 0;
}
.speech-bubble.right:after {
    border-color: transparent #fff;
    border-width: 9px 0 9px 21px;
    top: auto;
    left: auto;
    right: -21px;
    bottom: 16px;
}
.speech-bubble:after {
    border-color: #fff transparent;
    border-style: solid;
    border-width: 13px 13px 0;
    bottom: -13px;
    content: "";
    display: block;
    left: 47px;
    position: absolute;
    width: 0;
}
.speech-bubble.right {
    margin-right: 30px;
}
.speech-bubble {
    background: none repeat scroll 0 0 #fff;
    border: 5px solid #5a8f00;
    border-radius: 10px;
    color: #333;
    padding: 15px;
    position: relative;
    width: 150px;
}
.speech-bubble-container{
  position:absolute;
  right: 100px;
  bottom: 20px;
}

.address-book-selection{
  tr.highlight>td{
    background-color:#66CCFF;
  }
  tr.highlight:hover>td{
    background-color:#66CCFF;
  }
}
.ng-invalid {
  border-color: #f00 !important;
}
/******************************Payment Modal****************/
.credit-card{
  background-size: auto 80%;
  background-repeat: no-repeat;
  background-position: 98% 50%;
}
.visa {
  background-image: image-url('credit-cards/visa.jpg');
  
}
.jcb{
  background-image: image-url('credit-cards/jcb.jpg');

}
.dinersclub{
  background-image: image-url('credit-cards/dinersClub.jpg');

}
.maestro{
  background-image: image-url('credit-cards/maestro.jpg');
}
.amex {
  background-image: image-url('credit-cards/americanExpress.jpg');
}

.mastercard {
  background-image: image-url('credit-cards/masterCard.jpg');
}

.discover {
  background-image: image-url('credit-cards/discover.jpg');
}
/*******************BookMark**********************************/

$ribbon-bg: #004040;
$ribbon-hl: #005555;
$ribbon-w: 150px;
$ribbon-tail: 30px;

.account-menu{
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li a {
      text-decoration: none;
      color: white;
      cursor:pointer;
      padding: 10.5px 11px;
      background-color: #005555;
      display:block;
    }
    li a:hover, li .current{
      color:white;
      background-color: #5FD367;
    }
  }
}
.bookmark {
  padding:0 0 $ribbon-tail 0;
  //position:absolute;
  //right:0.25em;
  //top:-0.25em;
  width:$ribbon-w;

  div.tail {
    background:$ribbon-bg;
    background: linear-gradient($ribbon-hl 0%, $ribbon-bg 100%);
    color:#fff;
    padding:0.5em 0;
  }

  div.tail:after {
    border-left: $ribbon-w/2 solid $ribbon-bg;
    border-right: $ribbon-w/2 solid $ribbon-bg;
    border-bottom: $ribbon-tail solid transparent;
    bottom:0;
    content:'';
    height: 0;
    left: 15px;
    position:absolute;
    width: 0;
  }
}

/*******************BreadCrumbs*****************/
.breadcrumbs {
  /*centering*/
  display: inline-block;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.35);
  overflow: hidden;
  border-radius: 5px;
  /*Lets add the numbers for each link using CSS counters. flag is the name of the counter. to be defined using counter-reset in the parent element of the links*/
  counter-reset: flag; 
}

.breadcrumbs a {
  text-decoration: none;
  outline: none;
  display: block;
  float: left;
  font-size: 12px;
  line-height: 36px;
  color: white;
  /*need more margin on the left of links to accomodate the numbers*/
  padding: 0 10px 0 60px;
  background: #666;
  background: linear-gradient(#666, #333);
  position: relative;
}
/*since the first link does not have a triangle before it we can reduce the left padding to make it look consistent with other links*/
.breadcrumbs a:first-child {
  padding-left: 46px;
  border-radius: 5px 0 0 5px; /*to match with the parent's radius*/
}
.breadcrumbs a:first-child:before {
  left: 14px;
}
.breadcrumbs a:last-child {
  border-radius: 0 5px 5px 0; /*this was to prevent glitches on hover*/
  padding-right: 20px;
}

/*hover/active styles*/
.breadcrumbs a.active, .breadcrumbs a:hover{
  background: #333;
  background: linear-gradient(#333, #000);
}
.breadcrumbs a.active:after, .breadcrumbs a:hover:after {
  background: #333;
  background: linear-gradient(135deg, #333, #000);
}

/*adding the arrows for the breadcrumbs using rotated pseudo elements*/
.breadcrumbs a:after {
  content: '';
  position: absolute;
  top: 0; 
  right: -18px; /*half of square's length*/
  /*same dimension as the line-height of .breadcrumbs a */
  width: 36px; 
  height: 36px;
  /*as you see the rotated square takes a larger height. which makes it tough to position it properly. So we are going to scale it down so that the diagonals become equal to the line-height of the link. We scale it to 70.7% because if square's: 
  length = 1; diagonal = (1^2 + 1^2)^0.5 = 1.414 (pythagoras theorem)
  if diagonal required = 1; length = 1/1.414 = 0.707*/
  transform: scale(0.707) rotate(45deg);
  /*we need to prevent the arrows from getting buried under the next link*/
  z-index: 1;
  /*background same as links but the gradient will be rotated to compensate with the transform applied*/
  background: #666;
  background: linear-gradient(135deg, #666, #333);
  /*stylish arrow design using box shadow*/
  box-shadow: 
    2px -2px 0 2px rgba(0, 0, 0, 0.4), 
    3px -3px 0 2px rgba(255, 255, 255, 0.1);
  /*
    5px - for rounded arrows and 
    50px - to prevent hover glitches on the border created using shadows*/
  border-radius: 0 5px 0 50px;
}
/*we dont need an arrow after the last link*/
.breadcrumbs a:last-child:after {
  content: none;
}
/*we will use the :before element to show numbers*/
.breadcrumbs a:before {
  text-align:center;
  content: counter(flag);
  counter-increment: flag;
  /*some styles now*/
  border-radius: 100%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  margin: 8px 0;
  position: absolute;
  top: 0;
  left: 30px;
  background: #444;
  background: linear-gradient(#444, #222);
  font-weight: bold;
}
