/*********Flip Transition********/
.card-wrapper>div{
  position:relative;
  >div{
    z-index:20;
    border: 1px rgba(0,0,0,.4) solid;
    background-color: white;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
    width:882px;
    height:582px;
    padding:10px;
    .canvas{
      position:absolute;
      left:10px;
      top:10px;
    }
    .front{
      z-index:40;
    }
  }
  >div.portrait{
    width:582px;
    height:882px;
  }
}
.canvas.front-canvas.portrait{
  width:562px;
  height:862px;
}
.canvas.front-canvas.landscape{
  width:862px;
  height:562px;
}
.edit-form{
  position: absolute;
  top: 10px;
  left: 10px;
}
div.editor-front{
  color:white;
  font-family:'big_johnregular';
  display:inline-block;
  line-height:1;
  font-size:30px;
  padding:0px;
  margin:0px;
  width: 862px;
  height: 562px;
  overflow:hidden;
  word-wrap:break-word;
  *{
    margin:0px;
    padding:0px;
  }
}
div.editor-front.portrait{
  height: 862px;
  width: 562px;
}
div.editor-front>*{
  padding:0.5rem;
}
div.editor-back{
  color: black;
  font-family:Helvetica;
  display:inline-block;
  line-height:2;
  font-size:20px;
  padding:0px;
  margin:0px;
  width: 402px;
  height: 497px;
  overflow:hidden;
  word-wrap:break-word;
}
.editor-back>p{
  margin:0;
  padding:0;
}

.drawing-menu{
  background-color: #f0f0f0;
  background-image: linear-gradient(to bottom, #fdfdfd, #ddd);
  background-repeat: repeat-x;
  border:1px solid #f0f0f0;
  padding:5px;
  border-radius: 2px;
  color: #333;
  font-size:18px;
  position:absolute;
  top:-34px;
  left:0px;
  >*{
    display:inline-block;
  }
  button{
    position:relative;
    padding-right:20px;
    border-radius:3px;
    border:1px solid #f0f0f0;
    background-image: linear-gradient(to bottom, #fdfdfd, #ddd);
  }
  button .pallete{
    position:absolute;
    right:4px;
    top: 5px;
    width:14px;
    height:14px;
    border-radius:50%;
  }
}

/***** Flip ***************************************************************************************/
.flip-horizontal.ng-hide{
  animation: fadeOut 0.5s;
  position:absolute;
  left:0px;
  top:0px;
}
.flip-horizontal{
  animation: flipInX 0.5s;
  position:absolute;
  left:0px;
  top:0px;
}