<div class="account-menu bookmark">
	<ul>
		<li><a ui-sref="account.main" ng-class="{current:isActive('/account')}">My account</a></li>
		<li><a ui-sref="account.cards" ng-class="{curent:isActive('/cards')}">Review cards</a></li>
		<li><a ui-sref="account.market" ng-class="{current:isActive('/market')}">Buy Credits</a></li>
		<li><a>Share credits</a></li>
		<li><a ui-sref="account.contact" ng-class="{current:isActive('/contact')}">Contact Us</a></li>
		<li><a ui-sref="account.company" ng-class="{current:isActive('/company')}">About the Company</a></li>
	</ul>
	<div class="tail">
	</div>
</div>