
<div class="modal-header">
	<h3 class="modal-title ribbon center">{{title}}</h3>
</div>
<div class="modal-body">
	<div ng-switch="mode">
		<form ng-switch-default name="edit">
		    <div class="form-group">
	    		<label for="name">Name *</label>
	      	<input type="text" id="name" class="form-control" placeholder="Name of recipient" ng-model="address.name" required>
		    </div>
		    <validate-address address="address"></validate-address>
		    <div class="form-group">
		    	<label for="email">Email</label>
		      <input type="email" id="email" class="form-control" placeholder="Email" ng-model="address.email">
		    </div>
		    <div class="form-group">
		    	<label for="number">Phone Number</label>
		      <input type="text" id="number" class="form-control" placeholder="Phone Number" ng-model="address.number">
		    </div>
		    <button ng-click="save(address)" class="btn btn-block btn-primary">Save</button>
		</form>
		<form ng-switch-when="create">
		    <div class="form-group">
	    		<label for="name">Name *</label>
	      	<input type="text" id="name" class="form-control" placeholder="Name of recipient" ng-model="address.name" required>
		    </div>
		    <validate-address address="address"></validate-address>
		    <div class="form-group">
		    	<label for="email">Email</label>
		      <input type="email" id="email" class="form-control" placeholder="Email" ng-model="address.email">
		    </div>
		    <div class="form-group">
		    	<label for="number">Phone Number</label>
		      <input type="text" id="number" class="form-control" placeholder="Phone Number" ng-model="address.number">
		    </div>
		    <button ng-click="create(address)" class="btn btn-block btn-primary">Create</button>
		</form>
	</div>
</div>
