<div class="modal-header">
	<h3 class="modal-title ribbon center">Select Card</h3>
</div>
<div class="modal-body">
	<h1>We offer 4 x 6" postcards</h1>
	<div class="row">
		<div class="col-md-4">
			<button class="btn btn-primary btn-block" ng-click="select({id:1})">Sounds Good!</button>
			<div ng-click="select" class="card-select">
				<img width="100%" src="images/postcard-printing.png"></img>
			</div>
		</div>
		<div class="col-md-4">
		</div>
		<div class="col-md-4">
		</div>
	</div>
</div>