<button class="btn btn-default" ng-click="launch('yahoo');">Yahoo</button><br />
<button class="btn btn-default" ng-click="launch('windowslive');">Windows Live</a><br />
<button class="btn btn-default" ng-click="launch('gmail');">Gmail</button><br />
<button class="btn btn-default" ng-click="launch('aol');">Aol</button><br />
<button class="btn btn-default" ng-click="launch('plaxo');">Plaxo</button><br />
<button class="btn btn-default" ng-click="launch('addressbook');">Address Book</button><br />
<button class="btn btn-default" ng-click="launch('outlook');">Outlook</button><br />

