<div class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container-fluid container">
          <div class="navbar-header">
          	<img class="navbar-logo navbar-brand" src="images/menu-icon.gif"/>
          	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            <i style="color:white" class="fa fa-list fa-lg"></i>
	            <span class="sr-only">Toggle navigation</span>
	        </button>
            <a ui-sref="main.front" class="navbar-brand" href="">X-Press Cards</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
            	<li ng-class="{active:isActive('build')}"><a ui-sref="main.upload" >Make My Card</a></li>
          		<li  ng-if="checkIfAuthenticated()" ng-class="{active:isActive('/cards')}"><a ui-sref="account.cards" href="">Review Cards</a></li>
          		<li ng-if="checkIfAuthenticated()" ng-class="{active:isActive('/addressBook')}"><a ui-sref="main.addressBook" href="">My Address Book</a></li>
              <li ng-if="!checkIfAuthenticated()"><a href="" ng-click="showLoginModal('login')">Sign In</a></li>
              <li ng-if="!checkIfAuthenticated()"><a ng-click="showLoginModal('register')" href="">Create Account</a></li>
  	   		  </ul>
            <ul class="nav navbar-nav navbar-right">
              <li ng-if="checkifAuthorized('admin')"><a ui-sref="main.admin" href="#/admin">Admin</a></li>
              <li dropdown>
                <a href="#" class="dropdown-toggle">My Account <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a ui-sref="account.main">My Account</a></li>
                  <li ng-if="!checkIfAuthenticated()"><a ng-click="showLoginModal('login')">Sign In</a></li>
               	  <li ng-if="checkIfAuthenticated()"><a ng-click="logout()" href="">Sign Out</a></li>
  				        <li ng-if="checkIfAuthenticated()"><a ng-click="showLoginModal('change')" href="">Change Password</a></li>
                  <li class="divider"></li>
                	<li ng-if="checkIfAuthenticated()" class="dropdown-header">Addresses</li>
                	<li  ng-if="checkIfAuthenticated()"><a href="">My Address Book</a></li>
                	<li class="dropdown-header">My Account</li>
                	<li><a>My Credits: <span class="credits" style="color:red"></span></a></li>
                	<li><a href="">Buy Credits</a></li>
                	<li ng-if="checkIfAuthenticated()"><a href="">Previous Orders</a></li>
                </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</div><!--end navbar-->