<div ng-if="countdown>1" style="position:fixed; right:0px; bottom:0px; z-index:800; background:#D6696A; padding:4px;">
	<p style="color:white; font-weight:bold; margin:0px; padding:0px">Register your account and share in {{countdown}} seconds</p>
	<a facebook class="facebookShare" data-url='http://dev.x-presscards.com' data-shares='shares'>{{shares}}</a>
	<div gplus class="g-plus" data-size="tall" data-annotation="bubble" data-href='http://dev.x-presscards.com' data-action='share'></div>
	<a twitter  data-lang="en" data-count='horizontal' data-url='http://dev.x-presscards.com' data-via='XPressCards' data-size="medium" data-text='Sending a postcard!' ></a>
</div>