<div class="row">
	<div class="col-md-4 col-md-offset-4 text-center">
		<img class="img-responsive center-block" src="images/bunnyWhiteShadow.jpg">
		<h1 class="title">X-Press Cards LLC</h1>
	</div>
</div>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h2 class="text-center">Our Mission</h2>
		<p>We're striving to make the world more friendly and personal. The social world is increasingly sharing its memories digitally. We want to help you share them with cards you can hold in your hand.
		By offering the highest quality in printing and online services, we're bringing the world closer together.</p>
	</div>
</div>
<hr class="divider"></hr>
<div class="row">
    <div class="col-md-4">
      <img class="img-circle" src="images/paul.jpg">
      <h2>Paul Gruenbacher</h2>
      <h3>Lead Developer</h3>
      <p>Paul is a chemical engineer at the Ohio State University. Paul is focused on all technical sides of the company. His interests include php Laravel, Angular, and PhoneGap Implementation. </p>
      <p><a class="btn btn-default" href="#paul" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-md-4">
      <img class="img-circle" src="images/john.jpg">
      <h2>John Gruenbacher</h2>
      <h3>Business Manager</h3>
      <p>If you would like to discuss any business opportunities, please contact John, our manager! He is an industrial systems engineering student at The Ohio State University. His interests include frisbee and sand volleyball.</p>
      <p><a class="btn btn-default" href="#john" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-md-4">
      <img class="img-circle" src="images/bentleyAndBrutus.jpg">
      <h2>Brutus Coniculus and Bentley Burberry</h2>
      <h3>Hare Honcho</h3>
      <p>Fulfill critical functions of the business as mascots and team leaders in treat consumption</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
</div><!-- /.row -->