<loading-bunny backdrop="true" loading-scope="loading"></loading-bunny>
<breadcrumb-bar></breadcrumb-bar>
<div style="position:relative">
	<div class="row">
		<div class="col-md-7">
			<div class="original-image">
				<loading-bunny loading-scope="onLoading"></loading-bunny>
				<jcrop loading="toggleLoading()" data-selected="selected(c)" src="{{trustSrc(imageUrl)}}" id="target"></jcrop>
			</div>
		</div>
		<div class="col-md-5">
			<div class="preview-container">
				<div id="cropped-image" class="preview-pane" style="width: 306px; height: 200px; overflow:hidden;">
					<img id="preview" ng-src="{{trustSrc(imageUrl)}}" width="{{P.w}}px" height="{{P.h}}px"/>
				</div>
				<div class="preview-bar">
					<p>
						Width: {{info.cords.w |number:0 }} px
						<span ng-class="{success: checkWidth(), danger: !checkWidth() }"> {{ checkWidth() ? 'good':'too small' }}</span>
					</p>
					<P>
						Height: {{info.cords.h |number:0 }} px
						<span ng-class="{success: checkHeight(), danger: !checkHeight() }"> {{ checkHeight() ? 'good':'too small' }}</span>
					</p> <span><a ng-click="help('pixelDimensions')">What does this mean?</a></span>
					<P>Original Width: {{info.boundx |number:0 }} px</P>
					<P>Original Height: {{info.boundy |number:0 }} px</P>
					<button ng-click="continue()" class="btn btn-success">Continue</button>
				</div>
			</div>
		</div>
	</div>
</div>

