<loading-bunny loading-scope="loading" message="{{loadingMessage}}" backdrop="true"></loading-bunny>
<div class="row" style="min-height:450px">
	<div class="col-md-2">
		<button ng-click="toggleMode()" class="btn btn-block btn-primary">{{mode=='text'?'draw signature':'edit text'}}
		<button class="btn btn-block btn-danger" ng-click="clear('back')">Clear</button>
		<select ng-model="brush1" class="form-control">
			<option value="ribbon" default>Ribbon</option>
			<option value="web">Web</option>
		</select>
	</div>
	<div class="col-md-8">
		<div class="card-wrapper">
			<div ng-show="side"  ng-hide="side" class="flip-horizontal">
				<div class="back-edit-form" ng-class="{front:checkMode('text')}">
					<div id="frontEditor">
						<link rel="stylesheet" href="styles/custom.css"></link>
						<style>
							div.editor-front{
								color:white;
								font-family:'big_johnregular';
								display:inline-block;
								line-height:1;
								font-size:22px;
								padding:0px;
								margin:0px;
							    width: 728px;
							    height: 475px;
							    overflow:hidden;
							    word-wrap:break-word;
							  }
							  .editor-front>*{
							  	text-transform:uppercase;
							  	padding:0.5rem;
							  	display: inline;
							  }
						  </style>
					    <div class="editor-front" ui-tinymce="tinymceOptionsFront" ng-model="messageFront"></div>
					</div>
				</div>
				<div class="canvas" ng-class="{front:checkMode('draw')}">
					<div style="width:728px; height:475px;">
						<canvas id="frontCanvas" style="width:728px; height:475px;" width="1456px" height="950px" brush="{{brush1}}" ratio="2" color="color1" canvas-brush="front"></canvas>
					</div>
				</div>
				<img ng-src="{{frontImage.url_path}}" width="100%">
			</div>
			<div ng-hide="!side" ng-show="!side" class="flip-horizontal">
				<div class="back-edit-form" ng-class="{front:checkMode('text')}">
					<div id="backEditor">
						<link rel="stylesheet" href="styles/custom.css"></link>
						<style>
							div.editor-back{
								color:;
								font-family:Helvetica;
								display:inline-block;
								line-height:2;
								font-size:16px;
								padding:0px;
								margin:0px;
							    width: 340px;
							    height: 420px;
							    overflow:hidden;
							    word-wrap:break-word;
							  }
							  svg{ font-kerning: normal; }
							  .editor-back>p{
							  	margin:0;
							  	padding:0;
							  }
						  </style>
					    <div class="editor-back" ui-tinymce="tinymceOptionsBack" ng-model="messageBack"></div>
					</div>
				</div>
				<div class="canvas" ng-class="{front:checkMode('draw')}">
					<div style="width:340px; height:420px;">
						<canvas ratio="2" id="backCanvas" style="width:340px; height:420px;" width="680px" height="840px" brush="{{brush1}}" color="color1" canvas-brush="back"></canvas>
					</div>
				</div>
				<img src="images/blank-template.gif" width="100%">
			</div>
		</div>
	</div>
	<div class="col-md-2">
		<button class="btn btn-block btn-default" ng-click="toggle()">Toggle</button>
		<button class="btn btn-block btn-success" ng-click="continue()">Continue</button>
		<button class="btn btn-block btn-default" ng-click="drawCanvas()">Draw Canvas</button>
	</div>
</div>
<!-- <canvas id="trialcanvas"></canvas>
<canvas id="frontTrialCanvas"></canvas> -->
