<loading-bunny loading-scope="loading" message="{{loadingMessage}}" backdrop="true"></loading-bunny>
<breadcrumb-bar></breadcrumb-bar>
<div class="row" style="min-height:450px">
	<div class="col-md-2">
		<span>Drawing Tools</span>
		<button ng-click="toggleMode()" class="btn btn-block btn-primary">{{mode=='text'?'draw signature':'edit text'}}
		<button class="btn btn-block btn-danger" ng-click="clear('back')">Clear</button>
		<select ng-model="brush1" class="form-control">
			<option value="ribbon" default>Ribbon</option>
			<option value="web">Web</option>
		</select>
	</div>
	<div class="col-md-8">
		<div style="text-align:center">
			<button class="btn btn-primary" ng-click="toggle()"><i class="fa fa-refresh"></i> Flip</button>
		</div>
		<div class="card-wrapper">			
			<div ng-show="side"  ng-hide="side" class="flip-horizontal">
				<div class="back-edit-form" ng-class="{front:checkMode('text')}">
					<div>
						<link rel="stylesheet" href="styles/custom.css"></link>
					    <div class="editor-front" ui-tinymce="tinymceOptionsFront" ng-model="messageFront"></div>
					</div>
				</div>
				<div class="canvas" ng-class="{front:checkMode('draw')}">
					<div style="width:728px; height:475px;">
						<canvas id="frontCanvas" style="width:728px; height:475px;" width="1456px" height="950px" brush="{{brush1}}" ratio="2" color="color1" canvas-brush="front"></canvas>
					</div>
				</div>
				<img ng-src="{{frontImage.url_path}}" width="100%">
			</div>
			<div ng-hide="!side" ng-show="!side" class="flip-horizontal">
				<div class="back-edit-form" ng-class="{front:checkMode('text')}">
					<div>
						<link rel="stylesheet" href="styles/custom.css"></link>
					    <div class="editor-back" ui-tinymce="tinymceOptionsBack" ng-model="messageBack"></div>
					</div>
				</div>
				<div class="canvas" ng-class="{front:checkMode('draw')}">
					<div style="width:340px; height:420px;">
						<canvas ratio="2" id="backCanvas" style="width:340px; height:420px;" width="680px" height="840px" brush="{{brush1}}" color="color1" canvas-brush="back"></canvas>
					</div>
				</div>
				<img src="images/blank-template.gif" width="100%">
			</div>
		</div>
	</div>
	<div class="col-md-2">
		<button class="btn btn-block btn-success" ng-click="continue()">Continue</button>
	</div>
	<canvas id="trial1"></canvas>
	<canvas id="trial2"></canvas>
</div>
<!-- <canvas id="trialcanvas"></canvas>
<canvas id="frontTrialCanvas"></canvas> -->
