<div class="image-column">
	<div class="splash-banner image" style="text-align:center;padding-top:44px">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3 title">
				<h1>Fast, Simple</h1>
				<h1>Card Printing</h1>
				<button ui-sref="main.upload" class="btn btn-lg btn-warning">Try it now!</button>
			</div>
		</div>
	</div>
</div>
<div class="row white">
	<div class="container">
		<div class="row row-md-height" style="padding-top:15px;">
			<div class="col-sm-2 col-xs-4" style="padding-top:50px">
				<img class="img-responsive" src="images/BunnyProfile.gif"></img>
			</div>
			<div class="col-sm-4 col-xs-8">
				<h4>What is X-PressCards?</h4>
				<p class="lead">An online card printing service</p>
				<p>We let you print and send customizable cards from your phone or computer</p>
			</div>
			 <div class="clearfix visible-xs-block"></div>
			<div class="col-sm-4 col-xs-8">
				<h4>Address verification and Tracking</h4>
				<p class="lead">Delivery assured</p>
				<p>We don't just handle postage, we also validate addresses and perform intelligent tracking</p>
				<!-- <img class="img-responsive" src="images/singleCardWhite.jpg"></img> -->
			</div>
			<div class="col-sm-2 col-xs-4" style="overflow:hidden">
				<img class="img-responsive" src="images/mailman.gif"/>
			</div>
			<!-- <div class="col-sm-4" style="text-align:bottom;">
				<table>
					<tbody>
						<tr>
							<td style="vertical-align:bottom">
								<img width="100%" src="images/BunnyProfile.gif"></img>
							</td>
							<td>
								<h4>What is X-PressCards?</h4>
								<p class="lead">An online card printing service</p>
								<p>We let you print and send customizable cards from your phone or computer</p>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-sm-3">
				<img class="img-responsive" src="images/singleCardWhite.jpg"></img>
			</div>
			<div class="col-sm-5">
				<table>
					<tbody>
						<tr>
							<td style="vertical-align:top">
								<h4>Address verification and Tracking</h4>
								<p class="lead">Delivery assured</p>
								<p>We don't just handle postage, we also validate addresses and perform intelligent tracking</p>
							</td>
							<td style="vertical-align:bottom;">
								<img class="img-responsive" src="images/mailman.gif"/>
							</td>
						</tr>
					</tbody>
				</table>
			</div> -->
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-4 image-column">
		<div class="image">
			<img class="img-responsive" width="100%" src="images/friendsItaly.jpg"></img>
		</div>
	</div>
	<div class="col-sm-4 image-column">
		<div class="image">
			<img class="img-responsive" width="100%" src="images/creditSharingParis.jpg"></img>
		</div>
	</div>
	<div class="col-sm-4 image-column">
		<div class="image">
			<img class="img-responsive" width="100%" src="images/GrandmaStreet.jpg"></img>
		</div>
	</div>
</div>
<div class="row white">
	<div class="container">
		<div class="col-md-3 col-sm-4">
			<h3><i class="fa fa-barcode"></i> Tracking</h3>
			<p>We use barcodes to track your mail until it is delivered. This also allows for improved address quality and decreased postage costs.</p>
		</div>
		<div class="col-md-3 col-sm-4">
			<h3><i class="fa fa-cog"></i> Strong Foundation</h3>
			<p>Extensive time was spent developing and testing the application. This is our baby.</p>
		</div>
		<div class="col-md-3 col-sm-4">
			<h3><i class="fa fa-users"></i> Large Community</h3>
			<p>You'll be a member of a widespread active community. We developed around social networks to maximize your experience</p>
		</div>
		<div class="clearfix visible-sm"></div>
		<div class="col-md-3 col-sm-4">
			<h3><i class="fa fa-road"></i>Address Verification</h3>
			<p>We use smarty street address verification to make sure your card gets where it's meant to</p>
		</div>
		<div class="clearfix visible-md visible-lg"></div>
		<div class="col-md-3 col-sm-4">
			<h3><i class="fa fa-print"></i> Quality Printing</h3>
			<p>We only print from the best services available. You'll love our gloss stock</p>
		</div>
		<div class="col-md-3 col-sm-4">
			<h3><i class="fa fa-plane"></i> International</h3>
			<p>Overseas? That's the perfect time to use our app to send a postcard back to the United States!</p>
		</div>
		<div class="clearfix visible-sm"></div>
		<div class="col-md-3 col-sm-4">
			<h3><i class="fa fa-qrcode"></i> Cards that Share</h3>
			<p>Our cards have the ability to use QR codes to share any link you want!</p>
		</div>
		<div class="col-md-3 col-sm-4">
			<h3><i class="fa fa-credit-card"></i> Pre-paid Credits</h3>
			<p>Buy and share credits to share with your children. Finally a way to have them send out thank you card!</p>
		</div>
	</div>
</div>  