<div class="row white">
	<div class="container">
		<div class="row row-md-height">
			<div class="col-sm-4" style="position:relative;">
				<table style="position:absolute; bottom:0; left:0; right:0;">
					<tbody>
						<tr>
							<td style="width:60%;vertical-align:bottom;">
								<img width="100%" src="images/BunnyProfile.gif"></img>
							</td>
							<td style="width:40%">
								<h2>What is X-PressCards?</h2>
								<p class="lead">An online card printing service</p>
								<p>We let you print and send customizable cards from your phone or computer</p>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-sm-4">
				
			</div>
			<div class="col-sm-4">
				<table>
					<tbody>
						<tr>
							<td style="width:60%">
								<h2>Address verification and Tracking</h2>
								<p class="lead">Delivery assured</p>
								<p>We don't just handle postage, we also validate addresses and perform intelligent tracking</p>
							</td>
							<td style="width:40%; vertical-align:bottom;">
								<img class="img-responsive" src="images/mailman.gif"/>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<div class="row with-navbar">
	<div class="container">
		<div class="col-sm-4 image-column">
			<div class="image">
				<img class="img-responsive" width="100%" src="images/friendsItaly.jpg"></img>
			</div>
		</div>
		<div class="col-sm-4 image-column">
			<div class="image">
				<img class="img-responsive" width="100%" src="images/creditSharingParis.jpg"></img>
			</div>
		</div>
		<div class="col-sm-4 image-column">
			<div class="image">
				<img class="img-responsive" width="100%" src="images/grandmaStreet.jpg"></img>
			</div>
		</div>
	</div>
</div>
<div class="row white">
	<div class="container">
		<div class="col-md-3 col-sm-4">
			<h3><i class="fa fa-barcode"></i> Tracking</h3>
			<p>We use barcodes to track your mail until it is delivered. This also allows for improved address quality and decreased postage costs.</p>
		</div>
		<div class="col-md-3 col-sm-4">
			<h3><i class="fa fa-cog"></i> Strong Foundation</h3>
			<p>Extensive time was spent developing and testing the application. This is our baby.</p>
		</div>
		<div class="col-md-3 col-sm-4">
			<h3><i class="fa fa-users"></i> Large Community</h3>
			<p>You'll be a member of a widespread active community. We developed around social networks to maximize your experience</p>
		</div>
		<div class="clearfix visible-sm"></div>
		<div class="col-md-3 col-sm-4">
			<h3><i class="fa fa-road"></i>Address Verification</h3>
			<p>We use smarty street address verification to make sure your card gets where it's meant to</p>
		</div>
		<div class="clearfix visible-md visible-lg"></div>
		<div class="col-md-3 col-sm-4">
			<h3><i class="fa fa-print"></i> Quality Printing</h3>
			<p>We only print from the best services available. You'll love our gloss stock</p>
		</div>
		<div class="col-md-3 col-sm-4">
			<h3><i class="fa fa-plane"></i> International</h3>
			<p>Overseas? That's the perfect time to use our app to send a postcard back to the United States!</p>
		</div>
		<div class="clearfix visible-sm"></div>
		<div class="col-md-3 col-sm-4">
			<h3><i class="fa fa-qrcode"></i> Cards that Share</h3>
			<p>Our cards have the ability to use QR codes to share any link you want!</p>
		</div>
		<div class="col-md-3 col-sm-4">
			<h3><i class="fa fa-credit-card"></i> Pre-paid Credits</h3>
			<p>Buy and share credits to share with your children. Finally a way to have them send out thank you card!</p>
		</div>
	</div>
</div>
<div class="row">
	<div class="container">
		<div class="col-md-4">
			<h3>Our mobile app is still in development <small>But we can let you know when it's released!</small></h3>
		</div>
		<div class="col-md-4">
			<h3>Sign up for newsletter</h3>
			<form>
				<div class="list-inline form-inline">
					<input class="form-control" id="email" tpe="email" name="email"/>
					<a id="submit" class="btn btn-info">Submit</a>
				</div>
			</form>
		</div>
		<div class="col-md-4">
			<h3>Want to learn more? Visit our <a href="">Contact Page</a></h3>
		</div>
	</div>
</div>  