<!-- <div class="image-column">
	<div class="splash-banner image" style="text-align:center;padding-top:44px">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3 title">
				<h1>Fast, Simple</h1>
				<h1>Card Printing</h1>
				<button ui-sref="main.upload" class="btn btn-lg btn-warning">Try it now!</button>
			</div>
		</div>
	</div>
</div> -->
<div class="row">
	<div class="col-sm-8">
		<front-carousel></front-carousel>
	</div>
	<div class="col-sm-4" style="font-family:">
		<h2 class="featurette-heading">X-Press Cards is the easy way to send postcards</h2>
		<ul>
			<li>Perfect for vacations and study abroad</li>
			<li>As easy as social media</li>
			<li>A more meaningful tangible way to show you care</li>
			<li>Share credits with friends and family</li>
		</ul>
		<button ui-sref="main.upload" class="btn btn-lg btn-warning">Try it now!</button>
	</div>
</div>
<div class="how-it-works-bar">
	<div class="table-responsive">
		<table>
			<tr class="images">
				<td class="col-xs-2 col-lg-offset-1">
					<img class="img-responsive" src="images/camera.gif"/>
				</td>
				<td class="col-xs-2">
					<img class="img-responsive" src="images/cropImage.png"/>
				</td>
				<td class="col-xs-2">
					<img class="img-responsive" src="images/drawSignature.gif"/>
				</td>
				<td class="col-xs-2">
					<img class="img-responsive" src="images/addressVerified.gif"/>
				</td>
				<td class="col-xs-2">
					<img class="img-responsive" src="images/stamp.gif"/>
				</td>
			</tr class="text">
				<td class="col-xs-2 col-lg-offset-1">
					Upload picture
				</td>
				<td class="col-xs-2">
					Edit your image
				</td>
				<td class="col-xs-2">
					Draw and edit message
				</td>
				<td class="col-xs-2">
					Import your addresses
				</td>
				<td class="col-xs-2">
					We handle the printing and postage
				</td>
			</tr>
		</table>
	</div>
</div>
<div class="row white">
	<div class="container">
		<div class="row row-md-height" style="padding-top:15px;">
			<div class="col-sm-2 col-xs-4" style="padding-top:50px">
				<img class="img-responsive" src="images/girlOnPhone.gif"></img>
			</div>
			<div class="col-sm-4 col-xs-8">
				<h3 class="featurette-heading">Starting at $3/card</h3>
				<p class="lead">Discounts start at 5+ cards</p>
				<p>We let you buy and share credits which can be exchanged for cards at anytime. Now you can encourage your kids to send thank you cards, or help a friend overseas pay for sending back postcards</p>
			</div>
			 <div class="clearfix visible-xs-block"></div>
			<div class="col-sm-4 col-xs-8">
				<h3 class="featurette-heading">Address verification and Tracking</h3>
				<p class="lead">Delivery assured</p>
				<p>We don't just handle postage, we also validate addresses and perform intelligent tracking. Never buy a stamp again, and be rest assured your card gets to where it needs to be</p>
				<!-- <img class="img-responsive" src="images/singleCardWhite.jpg"></img> -->
			</div>
			<div class="col-sm-2 col-xs-4" style="padding-top:50px">
				<img class="img-responsive" src="images/mailman.gif"/>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-4 col-sm-offset-2 col-xs-12">
		<h2 class="featurette-heading">Our Mission</h2>
		<p class="lead">People send pictures everyday...</p>
		<p>We share with eachother everyday. But the feeling quickly when the picture exists behind a screen</p>
		<p class="lead">Cards still hold strong value...</p>
		<p>A physical card can make a lasting impression. But our mail has grown more empty each year.</p>
		<p class="lead">We want to show you care...</p>
		<p>We make sending cards simple and easy, with full customizability. Remember we're always happy to get mail too!</p>
	</div>
	<div class="clearfix visible-xs"></div>
	<div class="col-sm-4 col-xs-12" style="padding-top:50px;">
		<img class="img-responsive" src="images/grandma.gif"/>
	</div>
</div>
<!-- <div class="row">
	<div class="col-sm-4 image-column">
		<div class="image">
			<img class="img-responsive" width="100%" src="images/friendsItaly.jpg"></img>
		</div>
	</div>
	<div class="col-sm-4 image-column">
		<div class="image">
			<img class="img-responsive" width="100%" src="images/creditSharingParis.jpg"></img>
		</div>
	</div>
	<div class="col-sm-4 image-column">
		<div class="image">
			<img class="img-responsive" width="100%" src="images/GrandmaStreet.jpg"></img>
		</div>
	</div>
</div> -->
<!-- <div class="row white">
	<div class="container">
		<div class="col-md-3 col-sm-4">
			<h3><i class="fa fa-barcode"></i> Tracking</h3>
			<p>We use barcodes to track your mail until it is delivered. This also allows for improved address quality and decreased postage costs.</p>
		</div>
		<div class="col-md-3 col-sm-4">
			<h3><i class="fa fa-cog"></i> Strong Foundation</h3>
			<p>Extensive time was spent developing and testing the application. This is our baby.</p>
		</div>
		<div class="col-md-3 col-sm-4">
			<h3><i class="fa fa-users"></i> Large Community</h3>
			<p>You'll be a member of a widespread active community. We developed around social networks to maximize your experience</p>
		</div>
		<div class="clearfix visible-sm"></div>
		<div class="col-md-3 col-sm-4">
			<h3><i class="fa fa-road"></i>Address Verification</h3>
			<p>We use smarty street address verification to make sure your card gets where it's meant to</p>
		</div>
		<div class="clearfix visible-md visible-lg"></div>
		<div class="col-md-3 col-sm-4">
			<h3><i class="fa fa-print"></i> Quality Printing</h3>
			<p>We only print from the best services available. You'll love our gloss stock</p>
		</div>
		<div class="col-md-3 col-sm-4">
			<h3><i class="fa fa-plane"></i> International</h3>
			<p>Overseas? That's the perfect time to use our app to send a postcard back to the United States!</p>
		</div>
		<div class="clearfix visible-sm"></div>
		<div class="col-md-3 col-sm-4">
			<h3><i class="fa fa-qrcode"></i> Cards that Share</h3>
			<p>Our cards have the ability to use QR codes to share any link you want!</p>
		</div>
		<div class="col-md-3 col-sm-4">
			<h3><i class="fa fa-credit-card"></i> Pre-paid Credits</h3>
			<p>Buy and share credits to share with your children. Finally a way to have them send out thank you card!</p>
		</div>
	</div>
</div>   -->