<loading-bunny backdrop="true" loading-scope="loading"></loading-bunny>
<breadcrumb-bar></breadcrumb-bar>
<div class="row">
	<div class="col-sm-6">
		<h3>My Selected Recipients</h3>
		<table class="table table-hover table-striped table-condensed">
			<tbody>
				<tr ng-repeat="address in card.recipients">
					<td style="cursor:pointer;">{{address.address| limitTo: 20}}{{(address.address.length >=20)?'...':''}}</td>
					<td style="cursor:pointer;">{{address.name}}</td>
					<!-- <td>{{address.email}}</td>
					<td>{{address.number}}</td> -->
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-sm-6">
		<div class="report panel panel-info">
			<div class="panel-heading">
				<p>Tentative Report</p>
			</div>
			<div class="panel-body">
				<p >
					Your Current Credits:<span>{{user.credits}}   </span>
					<span><a ui-sref="acount.market">Buy bulk credits</a></span>
				</p>
				<p>Cards to be sent <span>{{number}}</span></p>
				<div ng-show="!affordable">
					<p>At ${{card.cardSetting.dollar_rate}} dollars per card:<span>${{totalCost}}</span></p>
					<p>Minus {{discount}} bulk discount <span>- ${{number*discount}}</span></p>
					<p>Total Cost <span>${{totalCost}}</span></p>
					<button ng-click="openPayment()" class="btn btn-primary" analytics-category="purchasing" analytics-on="click" analytics-label="paying for cards" analytics-event="PayForCard">Pay</button>
				</div>
				<div ng-show="affordable">
					<p>At {{creditRate}} credits per card:<span> {{totalCredits}}</span></p>
					<p>Use {{totalCredits}} total credits</p>
					<button ng-click="useCredits()" class="btn btn-primary" analytics-category="purchasing" analytics-on="click" analytics-label="using credits for cards" analytics-event="useCredits">Pay</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-8" style="min-height:600px">
		<button class="btn btn-default" ng-click="toggle()"><i class="fa fa-refresh"></i> Flip</button>
		<div class="card-wrapper">
			<div ng-show="side"  ng-hide="side" class="flip-horizontal">
				<div class="front-card" ng-class="card.orientation">
					<div class="edit-form">
						<div>
						    <div class="editor-front" compile-Html="card.frontMessage"></div>
						</div>
					</div>
					<div class="canvas front-canvas" ng-class="card.orientation">
						<img width="100%" height="100%" ng-src="{{card.frontDrawing.url_path}}"></img>
					</div>
					<img ng-src="{{card.croppedImage.url_path}}" width="100%">
				</div>
			</div>
			<div ng-hide="!side" ng-show="!side" class="flip-horizontal">
				<div class="back-card">
					<div class="edit-form">
						<div>
						    <div class="editor-back" compile-Html="card.backMessage"></div>
						</div>
					</div>
					<div class="canvas" style="width:340px; height:420px;">
						<img width="100%" height="100%" ng-src="{{card.backDrawing.url_path}}"></img>
					</div>
					<img src="images/blank-template.gif" width="100%">
				</div>
			</div>
		</div>
	</div>
</div>